{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["prettier", "javascript-the-good-parts"],
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "lines-between-class-members": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-useless-escape": "off"
  }
}
